<h1>Tars</h1>
<a target="blank" href="https://drive.google.com/file/d/1bvUiwxZZAj26X__U4-8_qcYTpFBOQ6xg/view?usp=sharing">Link to Big archive</a> | 
<a target="blank" href="https://drive.google.com/file/d/1eOfiub-HNiHzk1a7xC-3reiWYP8PwyL4/view?usp=sharing">Link to Small archive</a>

<hr />
<h2>Download a big-archive from other storage</h2>
<ul>
    <li><a href="/tars/show-tmp">Show tempfils `/tmp/*`</a></li>
    <li><a href="/tars/clear-tmp">Clear tempfils `/tmp/*`</a></li>
    <li><a href="/tars/download-small-local">Download small archive on the local machine into `Drive/` dir </a></li>
    <li><a href="/tars/download">Download small archive to browser</a></li>
</ul>

<hr />
